#sect1{padding-top: 280px;position: relative;width: 100%;max-width: 1920px;margin: auto;}
.sect1--wrap{width: 100%;display: flex;justify-content: space-between;}
.sect1--title{width: calc(50% - 20px);margin-right: 20px;position: relative;}
.sect1--title>img{width: 100%;display: block;}

.sect1--logos{margin-top: 60px;}
.sect1--logos-row{display: flex;align-items: center;}
.sect1--logos-row:first-child{margin-bottom: 24px;}
.sect1--logos-row p{margin-right: 20px;}
.sect1--logos-row img{margin-right: 20px;display: block;}

.sect1--obj{width: 38%;position: absolute;right: 40px;top: 180px;max-width: 684px;}
.sect1--obj img{width: 100%;display: block;}

.sect1--belt{background-image: url(/img/main_belt1.png);margin-top: 290px;background-size: cover;width: 100%;}
.sect1--belt-wrap{padding: 20px 0;display: -webkit-box}
.sect1--belt-item{display: flex;align-items: center;color: #000;font-size: 24px;font-weight: 700;letter-spacing: -2.5px;}
.sect1--belt-item p,
.sect1--belt-item img{margin-right: 20px;}
.sect1--belt-item img{width: 36px;height: 28px;display: block;}

.sect--head{margin-top: 160px;margin-bottom: 60px;border-bottom: 1px solid #fff;}
.main--goto a{display: inline-block;}
.main--goto a div{display: flex;font-size: 32px;font-weight: 700;align-items: center;}
.main--goto a img{width: 17px;height: 17px;margin-left: 12px;}
#sect2{position: relative;}
.sect2--wrap{position: relative;}
.sect2--bg{position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-image: url(/img/main_bg2.png);background-size: cover;background-position: center center;}
.sect2--title{margin-bottom: 28px;}
.sect2--list{width: 100%;display: flex;margin-bottom: 100px;}
.sect2--listItem{width: calc(100% / 4 - 60px / 4);}
.sect2--listItem:not(:nth-child(4n)){margin-right: 20px;}
.sect2--list-thumb{width: 100%;padding-top: 100%;border: 3px solid #fff;border-radius: 28px;}