body{background-color: #000;color: #fff;}
*{margin: 0;padding: 0;box-sizing: border-box;}
p,a{line-height: 1;}
li{list-style: none;}
a,a:visited{color: inherit;text-decoration: none;}
.wrap1508{width: 100%;margin: auto;max-width: 1588px;padding: 0 40px;}
@media all and (max-width:480px){
    .wrap1508{padding: 0 20px;}
}